<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Kontakt</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="kontakt-container">
    <p>Evangeliums-Christen-Baptistengemeinde e. V.<br> August Läpple Straße 30<br> 74189, Weinsberg</p>
    <p>Telefon: <a href="tel:+4915678199708">015678199708</a><br>E-Mail: <a href="mailto:jugend-weinsberg@schklar.de">jugend-weinsberg&#64;schklar.de</a></p>
  </div>
  <div class="kontakt-container">
    <p>
      Mitgewirkt haben:
    </p>
    <ul>
      <li>Lea Laschenko</li>
      <li>Johannes Hornbacher</li>
      <li>James Buller</li>
      <li>Kerstin Linde</li>
      <li>Laura Linde</li>
      <li>Eduard Heinz</li>
      <li>Simon Wiebe</li>
    </ul>
  </div>
</ion-content>