<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Impressum</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="imprint-container">
    <h2>Angaben gemäß § 5 TMG:</h2>
    <p>Evangeliums-Christen-Baptistengemeinde e. V.<br> August Läpple straße 30<br> 74189, Weinsberg</p>
    <h2>Kontakt:</h2>
    <p>Telefon: 015678199708<br> E-Mail: <a href="mailto:jugend-weinsberg@schklar.de">jugend-weinsberg&#64;schklar.de</a></p>
    <h2>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</h2>
    <p>Evangeliums-Christen-Baptistengemeinde e. V.<br> August Läpple straße 30<br> 74189, Weinsberg</p>
    <h2>Hinweis zu den Liedtexten:</h2>
    <p>Die in der App enthaltenen Liedtexte stammen aus verschiedenen Liederbüchern und wurden manuell eingetragen. Falls Sie Urheberrechtsverletzungen feststellen oder Rechteinhaber sind, kontaktieren Sie uns bitte unter <a href="mailto:jugend-weinsberg@schklar.de">jugend-weinsberg&#64;schklar.de</a>, damit wir entsprechende Inhalte prüfen und ggf. entfernen können.</p>
    <h2>Haftung für Inhalte:</h2>
    <p>Die Inhalte dieser App wurden mit größtmöglicher Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen.</p>
    <h2>Urheberrecht:</h2>
    <p>Die durch uns erstellten Inhalte und Werke in dieser App unterliegen dem deutschen Urheberrecht. Eine Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechts bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers.</p>
  </div>
</ion-content>