ion-header {
  ion-toolbar {
    color: white;
    --background: var(--ion-color-secondary); // Hier die Hintergrundfarbe setzen

    ion-title {
      text-align: center;
    }

    ion-button {
      --color: var(--ion-color-light); // Optional: Textfarbe anpassen
    }
  }
}

ion-content {

  --padding-start: 16px;
  --padding-end: 16px;

  
    ion-list {
      background: inherit; // Make the list background inherit from ion-content
      --ion-item-background: inherit; // Make the item background inherit as well.
    }
  
    ion-item {
        --background: inherit; // or a specific color if needed
    }


  ion-list {
    ion-item {
      ion-label {
        a {
          text-decoration: none; // Remove underline from link
          color: inherit; // Inherit color from ion-label
          display: block; // Make the whole ion-label clickable

          h2 {
            font-size: 1.2em; // Adjust as needed
            font-weight: 500;
            margin-bottom: 0.2em;
          }
        }

        h2 { // Style for book title (when not a link)
          font-size: 1.2em;
          font-weight: 500;
          margin-bottom: 0.2em;
        }

        p {
          font-size: 1em;
          color: #777; // Example: Lighter color for author
          margin-top: 0;
        }
      }
    }
  }

  .ion-label-loading { // Style for "Loading..."
    text-align: center;
    font-style: italic;
    color: gray;
  }
}