ion-header {
  ion-toolbar {
    color: white;
    --background: var(--ion-color-secondary); // Hier die Hintergrundfarbe setzen

    ion-title {
      text-align: center;
    }

    ion-button {
      --color: var(--ion-color-light); // Optional: Textfarbe anpassen
    }
  }
}

.privacy-container {
    padding: 20px; // Füge etwas Abstand hinzu
  }