ion-header {
  ion-toolbar {
    color: white;
    --background: var(--ion-color-secondary); // Hier die Hintergrundfarbe setzen

    ion-title {
      text-align: center;
    }

    ion-button {
      --color: var(--ion-color-light); // Optional: Textfarbe anpassen
    }
  }
}

ion-content {
  font-size: var(--app-font-size);
  --background: inherit; // Inherit background from parent if needed
  --padding-start: 16px;
  --padding-end: 16px;

  ion-label {
    h2 {
      font-size: 1.8em;
      font-weight: bold;
      margin-bottom: 0.5em;
      text-align: center;
    }

    #song-text {
      p {
        font-size: 1em;
        line-height: 1.5;
        margin-bottom: 0.8em;
        white-space: pre-wrap; // Preserve whitespace and line breaks
      }
    }
  }
}