<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ songNumber }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="playNote()">
        <ion-icon name="musical-note"></ion-icon>
      </ion-button>
      <ion-button (click)="changeView()">
        <ion-icon name="list"></ion-icon>
      </ion-button>
      <ion-button (click)="toggleFavorite()">
        <ion-icon name="star"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="song">
  <h2>{{ song.name }}</h2>
    <br>
  <ion-label *ngIf="!showImage">  
    

    <div id="song-text" *ngIf="song?.strophen && song?.refrains">
      <div *ngFor="let item of song.strophen">
        <p style="white-space: pre-wrap;">{{ item.text }}</p>
        <br>
        <ng-container *ngIf="item.refrain">
          <p style="white-space: pre-wrap;">{{ song.refrains[item.refrain] }}</p>
          <br>
        </ng-container>
      </div>
    </div>
  </ion-label>

  <div *ngIf="showImage">  <img *ngIf="imageUrl" [src]="imageUrl" alt="Song Image" />
    <p *ngIf="!imageUrl">Bild konnte nicht geladen werden.</p>
  </div>
</ion-content>