<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Liederbuch</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list *ngIf="books.length > 0; else noBooks">
    <ion-item *ngFor="let book of books">
      <ion-label>
        <a [routerLink]="['/book', book.filename]" (click)="loadBookData(book)">
          <h2>{{ book.title }}</h2>
        </a>
      </ion-label>
    </ion-item>
  </ion-list>

  <ng-template #noBooks>
    <ion-label>Lade Bücher...</ion-label>
  </ng-template>

  <ion-list *ngIf="selectedBook">
    <ion-item *ngFor="let item of bookData">
      <ion-label>
        <h2>{{ item.title }}</h2>
        <p>{{ item.author }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>